.container {
    padding: 20px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .add-button {
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
  }
  
  .save-button {
    background-color: green;
    color: white;
    margin-right: 3px;
  }
  
